 
 {% extends "base.html" %} {% load static %} {% block content %}

 <!-- main-area -->
 <main>

    <!-- movie-details-area -->
    <section class="movie-details-area" data-background="{% static 'img/bg/movie_details_bg.jpg' %}">
        <div class="container">
            <div class="row align-items-center position-relative">
                <div class="col-xl-4 col-lg-4">
                    <div class="movie-details-img">
                        <img src="/media/{{movie.image}}" style="width: 400px;height: 600px;" alt="">
                        <a href="https://www.youtube.com/watch?v=R2gbPxeNk2E" class="popup-video"><img src="img/images/play_icon.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8">
                    <div class="movie-details-content">
                        <h5>New</h5>
                        <h2><span>{{movie.name}}</span></h2>
                        <div class="banner-meta">
                            <ul>
                                <li class="quality">
                                    <span>Pg 18</span>
                                    <span>{{movie.resulution}}</span>
                                </li>
                                <li class="category">
                                    <a href="#">{{movie.genere}}</a>
                                </li>
                                <li class="release-time">
                                    <span><i class="far fa-calendar-alt"></i> 2021</span>
                                    <span><i class="far fa-clock"></i> 128 min</span>
                                </li>
                            </ul>
                        </div>
                        <p>{{movie.discription}}</p>
                        <div class="movie-details-prime">
                            <ul>
                                <li class="share"><a href="#"><i class="fas fa-share-alt"></i> Share</a></li>
                                <li class="streaming">
                                    <h6>Prime Video</h6>
                                    <span>Streaming Channels</span>
                                </li>
                                <li class="watch"><a href="https://www.youtube.com/watch?v=R2gbPxeNk2E" class="btn popup-video"><i class="fas fa-play"></i> Watch Now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="movie-details-btn">
                    <a href="img/poster/movie_details_img.jpg" class="download-btn" download="">Download <img src="fonts/download.svg" alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <!-- movie-details-area-end -->

    

    {% endblock %}